<section class="cover-container d-flex h-86.5 mx-auto flex-column">
  <div class="container-fluid p-0 m-0">

      <div class="text-center">
        <h2 class="wow animated fadeInUp" data-wow-delay="0.6s" style="margin-top:40px">Премиальное ателье в Москве<br></h2>
        <h5 class="wow animated fadeInUp" data-wow-delay="0.6s" style="margin-top:5px">индивидуальный пошив и ремонт одежды<br>любой сложности</h5>
        <span class="wow animated fadeInUp" data-wow-delay="0.0s">
          <img src="{{'/assets/images/zhmayeva/banner-atelier-poshiv-moskva.jpg' | relative_url}}" alt="holmes-slider" class="img-fluid w-100">
        </span>
    </div>
</section>
