</br>
</br>
<div class="blog-share-icon text-left text-md-right">
  <div class="list-inline-item">
    <strong>Поделиться:</strong>
  </div>
  <a
    href="https://vk.com/share.php?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on VK"
  >
    <i class="lni lni-vk"></i>
  </a>
  <a
    href="https://t.me/share/url?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Telegram"
  >
    <i class="lni lni-telegram"></i>
  </a>
  <a
    href="https://api.whatsapp.com/send?text={{ site.url }}{{page.post_image }}&description="
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on WhatsApp"
  >
    <i class="lni lni-whatsapp"></i>
  </a>
</div>
